<div class="container padding-y-9 padding-x-9 page-bg">
  <h2>Avatar Component Demo</h2>
  <div class="header">
    <atlas-theming-helper>
      <label>Custom theme</label>
    </atlas-theming-helper>
  </div>
  <h2>Avatar</h2>
  <div>
    <div class="section">
      <h3>size small</h3>
      <div class="avatar-group">
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.default"
            [size]="avatarSizes.small"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.primary"
            [size]="avatarSizes.small"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.warning"
            [size]="avatarSizes.small"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.error"
            [size]="avatarSizes.small"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.success"
            [size]="avatarSizes.small"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.info"
            [size]="avatarSizes.small"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
      </div>
    </div>
    <div class="section">
      <h3>size medium - radius softer</h3>
      <div class="avatar-group">
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.default"
            [radius]="radii.softer"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.primary"
            [radius]="radii.softer"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.warning"
            [radius]="radii.softer"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.error"
            [radius]="radii.softer"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.success"
            [radius]="radii.softer"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.info"
            [radius]="radii.softer"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
      </div>
    </div>
    <div class="section">
      <h3>size large</h3>
      <div class="avatar-group">
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.default"
            [size]="avatarSizes.large"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.primary"
            [size]="avatarSizes.large"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.warning"
            [size]="avatarSizes.large"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.error"
            [size]="avatarSizes.large"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.success"
            [size]="avatarSizes.large"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.info"
            [size]="avatarSizes.large"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
      </div>
    </div>
    <div class="section">
      <h3>size xlarge - radius soft</h3>
      <div class="avatar-group">
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.default"
            [size]="avatarSizes.xlarge"
            [radius]="radii.soft"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.primary"
            [radius]="radii.soft"
            [size]="avatarSizes.xlarge"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.warning"
            [radius]="radii.soft"
            [size]="avatarSizes.xlarge"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.error"
            [radius]="radii.soft"
            [size]="avatarSizes.xlarge"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.success"
            [radius]="radii.soft"
            [size]="avatarSizes.xlarge"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
        <div class="avatar-container">
          <atlas-avatar
            [action]="actions.info"
            [radius]="radii.soft"
            [size]="avatarSizes.xlarge"
            typography="typographyStyles-body-largeAlt"
            [grouped]="false"
            [indicator]="false"
            class="padding-left-2"
            >CF</atlas-avatar
          >
        </div>
      </div>
    </div>
  </div>
</div>
