<div class="container padding-y-9 padding-x-9 page-bg">

  <h2>Stepper Component Demo</h2>
  <div class="header">
    <atlas-theming-helper>
      <label>Custom theme</label>
    </atlas-theming-helper>
  </div>
  <h2>Stepper witht typography</h2>
  <div>
    <div class="section">
      <atlas-stepper [steps]="steps" (stepAction)="changeStep($event)"
        [typographyStepContent]="'typographyStyles-body-mediumAlt'"></atlas-stepper>
    </div>
  </div>
  <h2>Stepper with different icon</h2>
  <div>
    <div class="section">
      <atlas-stepper [steps]="steps" (stepAction)="changeStep($event)" [iconStep]="'icon-add-24'"></atlas-stepper>
    </div>
  </div>
  <h2>Stepper disabled (does not work)</h2>
  <div>
    <div class="section">
      <atlas-stepper [steps]="steps" (stepAction)="changeStep($event)" [disabled]="true"></atlas-stepper>
    </div>
  </div>
  <h2>Stepper with warning icon and warning color</h2>
  <div>
    <div class="section">
      <atlas-stepper [color]="colors.caution" [steps]="steps" (stepAction)="changeStep($event)"
        [iconStep]="'icon-error-outline-24'"></atlas-stepper>
    </div>
  </div>
  <h2 class="typography-desktop-title-2">Legacy Stepper MOSUI</h2>
  <div class="row">
    <div class="columns">
      <legacy-stepper [selectedIndex]="0" [isVertical]="false" [allowNavigation]="true" [isSequential]="true"
        [isEqualWidth]="false" [isInline]="true" theme="primary" bgTheme="info" persistentTheme="default"
        completeTitleText="Complete" [toggleActive]="true" [stepperHeaderSidePadding]="0" [stepperPadding]="true"
        [collapsedVerticalStepper]="false" responsiveConfigurations="DEFAULT_RESPONSIVE_OPTIONS.lg"
        [allowLabelWrapping]="false" [coloredBar]="true" [persistentTooltipOnActiveStep]="true">
        <legacy-step *ngFor="let step of steps1" [title]="step.title" [description]="step.description"
          [isDisabled]="step.isDisabled" [isComplete]="step.isComplete" [isSubStep]="step.isSubStep"
          [tooltipText]="step.tooltipText" [tooltipPosition]="step.tooltipPosition"
          [persistingTooltipPosition]="step.persistingTooltipPosition" [tooltipDelay]="step.tooltipDelay">
          <p>{{step.description}}</p>
        </legacy-step>
      </legacy-stepper>
    </div>
  </div>
  <h2 class="typography-desktop-title-2">Legacy Stepper MOSUI 2</h2>
  <div class="row">
    <div class="column">
      <legacy-stepper [selectedIndex]="0" [isVertical]="false" [allowNavigation]="true" [isSequential]="true"
        [isEqualWidth]="false" [isInline]="false" persistentTheme="default" completeTitleText="Complete"
        [toggleActive]="true" [stepperHeaderSidePadding]="0" [stepperPadding]="true" [collapsedVerticalStepper]="false"
        responsiveConfigurations="DEFAULT_RESPONSIVE_OPTIONS.lg" [allowLabelWrapping]="false" [coloredBar]="true">
        <legacy-step *ngFor="let step of steps2" [title]="step.title" [description]="step.description"
          [isDisabled]="step.isDisabled" [isComplete]="step.isComplete" [isSubStep]="false"
          [tooltipText]="step.tooltipText" [tooltipDelay]="step.tooltipDelay">
          <p>{{step.detail}}</p>
        </legacy-step>
      </legacy-stepper>
    </div>
  </div>
  <h2 class="typography-desktop-title-2">Legacy Stepper MOSUI 3</h2>
  <div class="row">
    <div class="column">
      <legacy-stepper [selectedIndex]="0" [allowNavigation]="false" #stepExampleRefer>
        <legacy-step data-id="campaign-basic-info-step" title="Basic information">
          <div
            class="row mos-u-divider--bottom-lg mos-u-color-border--accent2 mos-u-spacer--padding-bottom-sm mos-u-spacer--margin-bottom-lg">
            <div class="columns small-8 align-self-middle">
              <h3 data-id="campaign-nav-title" class="mos-u-spacer--margin-none">Basic Information</h3>
            </div>
            <div *ngIf="true" style="color: red" class="columns small-8 align-self-middle">
              {{ 'errorMessage' }}
            </div>
            <div class="columns small-4 align-self-middle">
              <div class="row align-middle align-right">
                <div class="column shrink" *ngIf="true">
                  <button mercer-button data-id="campaign-nav-prev-button" class="mos-t-button--accent2-alt" type="button"
                    (click)="stepExampleRefer.selectStep(stepExampleRefer.activeStepIndex - 1)" size="sm">Prev</button>
                </div>
                <div class="column shrink">
                  <button mercer-button data-id="campaign-nav-next-button" class="mos-t-button--accent2-alt" type="button"
                    (click)="stepExampleRefer.selectStep(stepExampleRefer.activeStepIndex + 1)" size="sm">Next</button>
                </div>
              </div>
            </div>
          </div>
        </legacy-step>
        <legacy-step data-id="campaign-countries-step" title="Countries">
          <div
            class="row mos-u-divider--bottom-lg mos-u-color-border--accent2 mos-u-spacer--padding-bottom-sm mos-u-spacer--margin-bottom-lg">
            <div class="columns small-8 align-self-middle">
              <h3 data-id="campaign-nav-title" class="mos-u-spacer--margin-none">Countries</h3>
            </div>
            <div *ngIf="true" style="color: red" class="columns small-8 align-self-middle">
              {{ 'errorMessage' }}
            </div>
            <div class="columns small-4 align-self-middle">
              <div class="row align-middle align-right">
                <div class="column shrink" *ngIf="true">
                  <button mercer-button data-id="campaign-nav-prev-button" class="mos-t-button--accent2-alt" type="button"
                    (click)="stepExampleRefer.selectStep(stepExampleRefer.activeStepIndex - 1)" size="sm">Prev</button>
                </div>
                <div class="column shrink">
                  <button mercer-button data-id="campaign-nav-next-button" class="mos-t-button--accent2-alt" type="button"
                    (click)="stepExampleRefer.selectStep(stepExampleRefer.activeStepIndex + 1)" size="sm">Next</button>
                </div>
              </div>
            </div>
          </div>
        </legacy-step>
        <legacy-step data-id="campaign-deadlines-step" title="Deadlines">
        <div
            class="row mos-u-divider--bottom-lg mos-u-color-border--accent2 mos-u-spacer--padding-bottom-sm mos-u-spacer--margin-bottom-lg">
            <div class="columns small-8 align-self-middle">
              <h3 data-id="campaign-nav-title" class="mos-u-spacer--margin-none">Deadlines</h3>
            </div>
            <div *ngIf="true" style="color: red" class="columns small-8 align-self-middle">
              {{ 'errorMessage' }}
            </div>
            <div class="columns small-4 align-self-middle">
              <div class="row align-middle align-right">
                <div class="column shrink" *ngIf="true">
                  <button mercer-button data-id="campaign-nav-prev-button" class="mos-t-button--accent2-alt" type="button"
                    (click)="stepExampleRefer.selectStep(stepExampleRefer.activeStepIndex - 1)" size="sm">Prev</button>
                </div>
                <div class="column shrink">
                  <button mercer-button data-id="campaign-nav-next-button" class="mos-t-button--accent2-alt" type="button"
                    (click)="stepExampleRefer.selectStep(stepExampleRefer.activeStepIndex + 1)" size="sm">Next</button>
                </div>
              </div>
            </div>
          </div>
        </legacy-step>
        <legacy-step data-id="campaign-sections-step" title="Sections">
        <div
            class="row mos-u-divider--bottom-lg mos-u-color-border--accent2 mos-u-spacer--padding-bottom-sm mos-u-spacer--margin-bottom-lg">
            <div class="columns small-8 align-self-middle">
              <h3 data-id="campaign-nav-title" class="mos-u-spacer--margin-none">Sections</h3>
            </div>
            <div *ngIf="true" style="color: red" class="columns small-8 align-self-middle">
              {{ 'errorMessage' }}
            </div>
            <div class="columns small-4 align-self-middle">
              <div class="row align-middle align-right">
                <div class="column shrink" *ngIf="true">
                  <button mercer-button data-id="campaign-nav-prev-button" class="mos-t-button--accent2-alt" type="button"
                    (click)="stepExampleRefer.selectStep(stepExampleRefer.activeStepIndex - 1)" size="sm">Prev</button>
                </div>
                <div class="column shrink">
                  <button mercer-button data-id="campaign-nav-next-button" class="mos-t-button--accent2-alt" type="button"
                    (click)="stepExampleRefer.selectStep(stepExampleRefer.activeStepIndex + 1)" size="sm">Next</button>
                </div>
              </div>
            </div>
          </div>
        </legacy-step>
        <legacy-step data-id="campaign-import-step" title="Import Campaign">
        <div
            class="row mos-u-divider--bottom-lg mos-u-color-border--accent2 mos-u-spacer--padding-bottom-sm mos-u-spacer--margin-bottom-lg">
            <div class="columns small-8 align-self-middle">
              <h3 data-id="campaign-nav-title" class="mos-u-spacer--margin-none">Import Campaign</h3>
            </div>
            <div *ngIf="true" style="color: red" class="columns small-8 align-self-middle">
              {{ 'errorMessage' }}
            </div>
            <div class="columns small-4 align-self-middle">
              <div class="row align-middle align-right">
                <div class="column shrink" *ngIf="true">
                  <button mercer-button data-id="campaign-nav-prev-button" class="mos-t-button--accent2-alt" type="button"
                    (click)="stepExampleRefer.selectStep(stepExampleRefer.activeStepIndex - 1)" size="sm">Prev</button>
                </div>
                <div class="column shrink">
                  <button mercer-button data-id="campaign-nav-next-button" class="mos-t-button--accent2-alt" type="button"
                    (click)="stepExampleRefer.selectStep(stepExampleRefer.activeStepIndex + 1)" size="sm">Next</button>
                </div>
              </div>
            </div>
          </div>
        </legacy-step>
        <legacy-step data-id="campaign-confirmation-step" title="Confirmation">
        <div
            class="row mos-u-divider--bottom-lg mos-u-color-border--accent2 mos-u-spacer--padding-bottom-sm mos-u-spacer--margin-bottom-lg">
            <div class="columns small-8 align-self-middle">
              <h3 data-id="campaign-nav-title" class="mos-u-spacer--margin-none">Confirmation</h3>
            </div>
            <div *ngIf="true" style="color: red" class="columns small-8 align-self-middle">
              {{ 'errorMessage' }}
            </div>
            <div class="columns small-4 align-self-middle">
              <div class="row align-middle align-right">
                <div class="column shrink" *ngIf="true">
                  <button mercer-button data-id="campaign-nav-prev-button" class="mos-t-button--accent2-alt" type="button"
                    (click)="stepExampleRefer.selectStep(stepExampleRefer.activeStepIndex - 1)" size="sm">Prev</button>
                </div>
                <div class="column shrink">
                  <button mercer-button data-id="campaign-nav-next-button" class="mos-t-button--accent2-alt" type="button"
                    (click)="stepExampleRefer.selectStep(stepExampleRefer.activeStepIndex + 1)" size="sm">Next</button>
                </div>
              </div>
            </div>
          </div>
        </legacy-step>
      </legacy-stepper>
    </div>
  </div>
  <h2 class="typography-desktop-title-2">Legacy Stepper MOSUI 4</h2>
  <div class="row">
    <div class="column">
      <legacy-stepper  
    [selectedIndex]="0"
    [isVertical]="false"
    [allowNavigation]="true"
    [isSequential]="true"
    [isEqualWidth]="false"
    [isInline]="false"
    persistentTheme="default"
    completeTitleText="Complete"
    [toggleActive]="true"
    [stepperHeaderSidePadding]="0"
    [stepperPadding]="true"
    [collapsedVerticalStepper]="false"
    responsiveConfigurations="DEFAULT_RESPONSIVE_OPTIONS.lg"
    [allowLabelWrapping]="false"
    [coloredBar]="true"
    >
    <legacy-step *ngFor="let step of steps2" [title]="step.title" [description]="step.description"
    [isDisabled]="step.isDisabled" [isComplete]="step.isComplete" [isSubStep]="false"
    [tooltipText]="step.tooltipText" [tooltipDelay]="step.tooltipDelay">
      <p>{{step.detail}}</p>
    </legacy-step>
      </legacy-stepper>
    </div>
  </div>
</div>
