<div class="container padding-y-9 padding-x-9 page-bg">

  <h2>badge Component Demo</h2>
  <div class="header">
    <atlas-theming-helper>
      <label>Custom theme</label>
    </atlas-theming-helper>
  </div>
  <h2>badge</h2>
  <div>
    <div class="section">
      <h3>Badge mode number</h3>
      <div class="badge-group">
        <div class="badge-container">
          <atlas-icon [icon]="'icon-window-maximize-24'" [badgeAction]="actions.default"
            [badgePosition]="badgePositions.topRight" [badgeMode]="badgeModes.numbers" [badge]="badgeCount"
            [size]="iconSizes.medium" >
          </atlas-icon>
        </div>
        <div class="badge-container">
          <atlas-icon [icon]="'icon-window-maximize-24'" [badgeAction]="actions.primary"
            [badgePosition]="badgePositions.topRight" [badgeMode]="badgeModes.numbers" [badge]="badgeCount"
            [size]="iconSizes.medium">
          </atlas-icon>
        </div>
        <div class="badge-container">
          <atlas-icon [icon]="'icon-window-maximize-24'" [badgeAction]="actions.warning"
            [badgePosition]="badgePositions.topRight" [badgeMode]="badgeModes.numbers" [badge]="badgeCount"
            [size]="iconSizes.medium">
          </atlas-icon>
        </div>
        <div class="badge-container">
          <atlas-icon [icon]="'icon-window-maximize-24'" [badgeAction]="actions.error"
            [badgePosition]="badgePositions.topRight" [badgeMode]="badgeModes.numbers" [badge]="badgeCount"
            [size]="iconSizes.medium">
          </atlas-icon>
        </div>
        <div class="badge-container">
          <atlas-icon [icon]="'icon-window-maximize-24'" [badgeAction]="actions.success"
            [badgePosition]="badgePositions.topRight" [badgeMode]="badgeModes.numbers" [badge]="badgeCount"
            [size]="iconSizes.medium">
          </atlas-icon>
        </div>
        <div class="badge-container">
          <atlas-icon [icon]="'icon-window-maximize-24'" [badgeAction]="actions.info"
            [badgePosition]="badgePositions.topRight" [badgeMode]="badgeModes.numbers" [badge]="badgeCount"
            [size]="iconSizes.medium">
          </atlas-icon>
        </div>


      </div>
    </div>
    <div class="section">
      <h3>Badge mode dot</h3>
      <div class="badge-group">
        <div class="badge-container">
          <atlas-icon [icon]="'icon-window-maximize-24'" [badgeAction]="actions.default"
            [badgePosition]="badgePositions.topRight" [badgeMode]="badgeModes.dot" [badge]="badgeCount"
            [size]="iconSizes.medium" >
          </atlas-icon>
        </div>
        <div class="badge-container">
          <atlas-icon [icon]="'icon-window-maximize-24'" [badgeAction]="actions.primary"
            [badgePosition]="badgePositions.topRight" [badgeMode]="badgeModes.dot" [badge]="badgeCount"
            [size]="iconSizes.medium">
          </atlas-icon>
        </div>
        <div class="badge-container">
          <atlas-icon [icon]="'icon-window-maximize-24'" [badgeAction]="actions.warning"
            [badgePosition]="badgePositions.topRight" [badgeMode]="badgeModes.dot" [badge]="badgeCount"
            [size]="iconSizes.medium">
          </atlas-icon>
        </div>
        <div class="badge-container">
          <atlas-icon [icon]="'icon-window-maximize-24'" [badgeAction]="actions.error"
            [badgePosition]="badgePositions.topRight" [badgeMode]="badgeModes.dot" [badge]="badgeCount"
            [size]="iconSizes.medium">
          </atlas-icon>
        </div>
        <div class="badge-container">
          <atlas-icon [icon]="'icon-window-maximize-24'" [badgeAction]="actions.success"
            [badgePosition]="badgePositions.topRight" [badgeMode]="badgeModes.dot" [badge]="badgeCount"
            [size]="iconSizes.medium">
          </atlas-icon>
        </div>
        <div class="badge-container">
          <atlas-icon [icon]="'icon-window-maximize-24'" [badgeAction]="actions.info"
            [badgePosition]="badgePositions.topRight" [badgeMode]="badgeModes.dot" [badge]="badgeCount"
            [size]="iconSizes.medium">
          </atlas-icon>
        </div>
      </div>
    </div>


  </div>


</div>