<div class="container padding-y-9 padding-x-9 page-bg">
  <h2>Playground Component Demo</h2>
  <div class="header">

    <atlas-theming-helper>
      <label>Custom theme</label>
    </atlas-theming-helper>
  </div>

  <div>
    <div class="section">
      <atlas-navigation [optionalSection]="true">
        
        <atlas-nav-item (click)="navigateToUrl('/accordion')">
          Accordion
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/alert')">
          Alert
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/app-bar')">
          App Bar
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/avatar')">
          Avatar
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/badge')">
          Badge
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/bottom-navigation')">
          Bottom Navigation
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/breadcrumb')">
          Breadcrumb
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/button')">
          Button
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/button-group')">
          Button Group
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/icon-button')">
          Icon Button
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/icon')">
          Icon
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/card')">
          Card
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/checkbox')">
          Checkbox
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/chip')">
          Chips
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/datepicker')">
          DatePicker
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/divider')">
          Divider
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/drawer')">
          Drawer
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/field')">
          Field
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/select')">
          Select
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/filedrop')">
          Filedrop
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/link')">
          Link
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/listitem')">
          List
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/menu')">
          Menu
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/modal')">
          Modal
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/navigation')">
          Navigation
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/pagination')">
          Pagination
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/popover')">
          Popover
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/progress')">
          Progress
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/radio')">
          Radio
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/rating')">
          Rating
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/slider')">
          Slider
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/snackbar')">
          Snackbar
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/stepper')">
          Stepper
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/switch')">
          Switch
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/table')">
          Table
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/tabs')">
          Tabs
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/timepicker')">
          TimePicker
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/tooltip')">
          Tooltip
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/template-virtual-scroll')">
          template-virtual-scroll
        </atlas-nav-item>
        <atlas-nav-item (click)="navigateToUrl('/template-dropdown')">
          template-dropdown
        </atlas-nav-item>
      </atlas-navigation>
    </div>
    <div>