<div class="container padding-y-9 padding-x-9 page-bg">
<h2>Button Component Demo</h2>
<div class="header">
  <atlas-theming-helper>
    <label>Custom theme</label>
  </atlas-theming-helper>
</div>
<div>
  <h2>Strong Buttons- old contained</h2>
  <div class="section">
    <h3>size medium</h3>
    <div class="button-group">
      <div class="button-container">
        <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles.strong">brand</atlas-button>
        <div class="button-label">Brand</div>
      </div>
      <div class="button-container">
        <atlas-button [color]="colors.neutral" [size]="buttonSizings.medium" [style]="styles.strong">neutral</atlas-button>
        <div class="button-label">Neutral</div>
      </div>
      <div class="button-container">
        <atlas-button [color]="colors.danger" [size]="buttonSizings.medium" [style]="styles.strong">danger</atlas-button>
        <div class="button-label">Danger</div>
      </div>
      <div class="button-container">
        <atlas-button [color]="colors.success" [size]="buttonSizings.medium" [style]="styles.strong">success</atlas-button>
        <div class="button-label">Success</div>
      </div>
      <div class="button-container">
        <atlas-button [color]="colors.info" [size]="buttonSizings.medium" [style]="styles.strong">Info</atlas-button>
        <div class="button-label">Info</div>
      </div>
    </div>
  </div>

  <div class="section">
    <h3>size large</h3>
    <div class="button-group">
        <div class="button-container">
            <atlas-button [color]="colors.brand" [size]="buttonSizings.large" [style]="styles.strong">brand</atlas-button>
            <div class="button-label">Brand</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.neutral" [size]="buttonSizings.large" [style]="styles.strong">neutral</atlas-button>
            <div class="button-label">Neutral</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.danger" [size]="buttonSizings.large" [style]="styles.strong">danger</atlas-button>
            <div class="button-label">Danger</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.success" [size]="buttonSizings.large" [style]="styles.strong">success</atlas-button>
            <div class="button-label">Success</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.info" [size]="buttonSizings.large" [style]="styles.strong">Info</atlas-button>
            <div class="button-label">Info</div>
        </div>
    </div>
</div>
<div class="section">
  <h3>size extra large</h3>
  <div class="button-group">
      <div class="button-container">
          <atlas-button [color]="colors.brand" [size]="buttonSizings.xlarge" [style]="styles.strong">brand</atlas-button>
          <div class="button-label">Brand</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.neutral" [size]="buttonSizings.xlarge" [style]="styles.strong">neutral</atlas-button>
          <div class="button-label">Neutral</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.danger" [size]="buttonSizings.xlarge" [style]="styles.strong">danger</atlas-button>
          <div class="button-label">Danger</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.success" [size]="buttonSizings.xlarge" [style]="styles.strong">success</atlas-button>
          <div class="button-label">Success</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.info" [size]="buttonSizings.xlarge" [style]="styles.strong">Info</atlas-button>
          <div class="button-label">Info</div>
      </div>
  </div>
</div>

<div class="section">
  <h3>size small</h3>
  <div class="button-group">
      <div class="button-container">
          <atlas-button [color]="colors.brand" [size]="buttonSizings.small" [style]="styles.strong">brand</atlas-button>
          <div class="button-label">Brand</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.neutral" [size]="buttonSizings.small" [style]="styles.strong">neutral</atlas-button>
          <div class="button-label">Neutral</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.danger" [size]="buttonSizings.small" [style]="styles.strong">danger</atlas-button>
          <div class="button-label">Danger</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.success" [size]="buttonSizings.small" [style]="styles.strong">success</atlas-button>
          <div class="button-label">Success</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.info" [size]="buttonSizings.small" [style]="styles.strong">Info</atlas-button>
          <div class="button-label">Info</div>
      </div>
  </div>
</div>
<div class="section">
  <h3>size extra small</h3>
  <div class="button-group">
      <div class="button-container">
          <atlas-button [color]="colors.brand" [size]="buttonSizings.xsmall" [style]="styles.strong">brand</atlas-button>
          <div class="button-label">Brand</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.neutral" [size]="buttonSizings.xsmall" [style]="styles.strong">neutral</atlas-button>
          <div class="button-label">Neutral</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.danger" [size]="buttonSizings.xsmall" [style]="styles.strong">danger</atlas-button>
          <div class="button-label">Danger</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.success" [size]="buttonSizings.xsmall" [style]="styles.strong">success</atlas-button>
          <div class="button-label">Success</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.info" [size]="buttonSizings.xsmall" [style]="styles.strong">Info</atlas-button>
          <div class="button-label">Info</div>
      </div>
  </div>
</div>
<div class="section">
  <h3>size medium disabled</h3>
  <div class="button-group">
      <div class="button-container">
          <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles.strong" [disabled]="true">brand</atlas-button>
          <div class="button-label">Brand</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.neutral" [size]="buttonSizings.medium" [style]="styles.strong" [disabled]="true">neutral</atlas-button>
          <div class="button-label">Neutral</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.danger" [size]="buttonSizings.medium" [style]="styles.strong" [disabled]="true">danger</atlas-button>
          <div class="button-label">Danger</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.success" [size]="buttonSizings.medium" [style]="styles.strong" [disabled]="true">success</atlas-button>
          <div class="button-label">Success</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.info" [size]="buttonSizings.medium" [style]="styles.strong" [disabled]="true">Info</atlas-button>
          <div class="button-label">Info</div>
      </div>
  </div>
</div>
<div class="section">
  <h3>Radius</h3>
  <div class="button-group">
      <div class="button-container">
          <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles.strong" [radius]="radii.none">brand</atlas-button>
          <div class="button-label">radius none</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.neutral" [size]="buttonSizings.medium" [style]="styles.strong" [radius]="radii.soft">brand</atlas-button>
          <div class="button-label">radius rounded - old soft</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.neutral" [size]="buttonSizings.medium" [style]="styles.strong" [radius]="radii.rounded">brand</atlas-button>
          <div class="button-label">radius full - old rounded</div>
      </div>
  </div>
</div>
</div>
<div>
  <h2>Soft Buttons - new variant</h2>
  <div class="section">
    <h3>size medium</h3>
    <div class="button-group">
      <div class="button-container">
        <atlas-button [color]="colors.brand" [size]="buttonSizings.large" [style]="styles.soft">brand</atlas-button>
        <div class="button-label">Brand</div>
      </div>
      <div class="button-container">
        <atlas-button [color]="colors.neutral" [size]="buttonSizings.medium" [style]="styles.soft">neutral</atlas-button>
        <div class="button-label">Neutral</div>
      </div>
      <div class="button-container">
        <atlas-button [color]="colors.danger" [size]="buttonSizings.medium" [style]="styles.soft">danger</atlas-button>
        <div class="button-label">Danger</div>
      </div>
      <div class="button-container">
        <atlas-button [color]="colors.success" [size]="buttonSizings.medium" [style]="styles.soft">success</atlas-button>
        <div class="button-label">Success</div>
      </div>
      <div class="button-container">
        <atlas-button [color]="colors.info" [size]="buttonSizings.medium" [style]="styles.soft">Info</atlas-button>
        <div class="button-label">Info</div>
      </div>
    </div>
  </div>

  <div class="section">
    <h3>size large</h3>
    <div class="button-group">
        <div class="button-container">
            <atlas-button [color]="colors.brand" [size]="buttonSizings.large" [style]="styles.soft">brand</atlas-button>
            <div class="button-label">Brand</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.neutral" [size]="buttonSizings.large" [style]="styles.soft">neutral</atlas-button>
            <div class="button-label">Neutral</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.danger" [size]="buttonSizings.large" [style]="styles.soft">danger</atlas-button>
            <div class="button-label">Danger</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.success" [size]="buttonSizings.large" [style]="styles.soft">success</atlas-button>
            <div class="button-label">Success</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.info" [size]="buttonSizings.large" [style]="styles.soft">Info</atlas-button>
            <div class="button-label">Info</div>
        </div>
    </div>
</div>
<div class="section">
  <h3>size extra large</h3>
  <div class="button-group">
      <div class="button-container">
          <atlas-button [color]="colors.brand" [size]="buttonSizings.xlarge" [style]="styles.soft">brand</atlas-button>
          <div class="button-label">Brand</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.neutral" [size]="buttonSizings.xlarge" [style]="styles.soft">neutral</atlas-button>
          <div class="button-label">Neutral</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.danger" [size]="buttonSizings.xlarge" [style]="styles.soft">danger</atlas-button>
          <div class="button-label">Danger</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.success" [size]="buttonSizings.xlarge" [style]="styles.soft">success</atlas-button>
          <div class="button-label">Success</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.info" [size]="buttonSizings.xlarge" [style]="styles.soft">Info</atlas-button>
          <div class="button-label">Info</div>
      </div>
  </div>
</div>

<div class="section">
  <h3>size small</h3>
  <div class="button-group">
      <div class="button-container">
          <atlas-button [color]="colors.brand" [size]="buttonSizings.small" [style]="styles.soft">brand</atlas-button>
          <div class="button-label">Brand</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.neutral" [size]="buttonSizings.small" [style]="styles.soft">neutral</atlas-button>
          <div class="button-label">Neutral</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.danger" [size]="buttonSizings.small" [style]="styles.soft">danger</atlas-button>
          <div class="button-label">Danger</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.success" [size]="buttonSizings.small" [style]="styles.soft">success</atlas-button>
          <div class="button-label">Success</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.info" [size]="buttonSizings.small" [style]="styles.soft">Info</atlas-button>
          <div class="button-label">Info</div>
      </div>
  </div>
</div>
<div class="section">
  <h3>size extra small</h3>
  <div class="button-group">
      <div class="button-container">
          <atlas-button [color]="colors.brand" [size]="buttonSizings.xsmall" [style]="styles.soft">brand</atlas-button>
          <div class="button-label">Brand</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.neutral" [size]="buttonSizings.xsmall" [style]="styles.soft">neutral</atlas-button>
          <div class="button-label">Neutral</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.danger" [size]="buttonSizings.xsmall" [style]="styles.soft">danger</atlas-button>
          <div class="button-label">Danger</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.success" [size]="buttonSizings.xsmall" [style]="styles.soft">success</atlas-button>
          <div class="button-label">Success</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.info" [size]="buttonSizings.xsmall" [style]="styles.soft">Info</atlas-button>
          <div class="button-label">Info</div>
      </div>
  </div>
</div>
<div class="section">
  <h3>size medium disabled</h3>
  <div class="button-group">
      <div class="button-container">
          <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles.soft" [disabled]="true">brand</atlas-button>
          <div class="button-label">Brand</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.neutral" [size]="buttonSizings.medium" [style]="styles.soft" [disabled]="true">neutral</atlas-button>
          <div class="button-label">Neutral</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.danger" [size]="buttonSizings.medium" [style]="styles.soft" [disabled]="true">danger</atlas-button>
          <div class="button-label">Danger</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.success" [size]="buttonSizings.medium" [style]="styles.soft" [disabled]="true">success</atlas-button>
          <div class="button-label">Success</div>
      </div>
      <div class="button-container">
          <atlas-button [color]="colors.info" [size]="buttonSizings.medium" [style]="styles.soft" [disabled]="true">Info</atlas-button>
          <div class="button-label">Info</div>
      </div>
  </div>
  <div class="section">
    <h3>Radius</h3>
    <div class="button-group">
        <div class="button-container">
            <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles.soft" [radius]="radii.none">brand</atlas-button>
            <div class="button-label">radius none</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles.soft" [radius]="radii.soft">brand</atlas-button>
            <div class="button-label">radius rounded - old soft</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles.soft" [radius]="radii.rounded">brand</atlas-button>
            <div class="button-label">radius full - old rounded</div>
        </div>
    </div>
  </div>
</div>

</div>

<div>
    <h2>Outlined Buttons</h2>
    <div class="section">
      <h3>size medium</h3>
      <div class="button-group">
        <div class="button-container">
          <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles.outlined">brand</atlas-button>
          <div class="button-label">Brand</div>
        </div>
        <div class="button-container">
          <atlas-button [color]="colors.neutral" [size]="buttonSizings.medium" [style]="styles.outlined">neutral</atlas-button>
          <div class="button-label">Neutral</div>
        </div>
        <div class="button-container">
          <atlas-button [color]="colors.danger" [size]="buttonSizings.medium" [style]="styles.outlined">danger</atlas-button>
          <div class="button-label">Danger</div>
        </div>
        <div class="button-container">
          <atlas-button [color]="colors.success" [size]="buttonSizings.medium" [style]="styles.outlined">success</atlas-button>
          <div class="button-label">Success</div>
        </div>
        <div class="button-container">
          <atlas-button [color]="colors.info" [size]="buttonSizings.medium" [style]="styles.outlined">Info</atlas-button>
          <div class="button-label">Info</div>
        </div>
      </div>
    </div>
  
    <div class="section">
      <h3>size large</h3>
      <div class="button-group">
          <div class="button-container">
              <atlas-button [color]="colors.brand" [size]="buttonSizings.large" [style]="styles.outlined">brand</atlas-button>
              <div class="button-label">Brand</div>
          </div>
          <div class="button-container">
              <atlas-button [color]="colors.neutral" [size]="buttonSizings.large" [style]="styles.outlined">neutral</atlas-button>
              <div class="button-label">Neutral</div>
          </div>
          <div class="button-container">
              <atlas-button [color]="colors.danger" [size]="buttonSizings.large" [style]="styles.outlined">danger</atlas-button>
              <div class="button-label">Danger</div>
          </div>
          <div class="button-container">
              <atlas-button [color]="colors.success" [size]="buttonSizings.large" [style]="styles.outlined">success</atlas-button>
              <div class="button-label">Success</div>
          </div>
          <div class="button-container">
              <atlas-button [color]="colors.info" [size]="buttonSizings.large" [style]="styles.outlined">Info</atlas-button>
              <div class="button-label">Info</div>
          </div>
      </div>
  </div>
  <div class="section">
    <h3>size extra large</h3>
    <div class="button-group">
        <div class="button-container">
            <atlas-button [color]="colors.brand" [size]="buttonSizings.xlarge" [style]="styles.outlined">brand</atlas-button>
            <div class="button-label">Brand</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.neutral" [size]="buttonSizings.xlarge" [style]="styles.outlined">neutral</atlas-button>
            <div class="button-label">Neutral</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.danger" [size]="buttonSizings.xlarge" [style]="styles.outlined">danger</atlas-button>
            <div class="button-label">Danger</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.success" [size]="buttonSizings.xlarge" [style]="styles.outlined">success</atlas-button>
            <div class="button-label">Success</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.info" [size]="buttonSizings.xlarge" [style]="styles.outlined">Info</atlas-button>
            <div class="button-label">Info</div>
        </div>
    </div>
  </div>
  
  <div class="section">
    <h3>size small</h3>
    <div class="button-group">
        <div class="button-container">
            <atlas-button [color]="colors.brand" [size]="buttonSizings.small" [style]="styles.outlined">brand</atlas-button>
            <div class="button-label">Brand</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.neutral" [size]="buttonSizings.small" [style]="styles.outlined">neutral</atlas-button>
            <div class="button-label">Neutral</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.danger" [size]="buttonSizings.small" [style]="styles.outlined">danger</atlas-button>
            <div class="button-label">Danger</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.success" [size]="buttonSizings.small" [style]="styles.outlined">success</atlas-button>
            <div class="button-label">Success</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.info" [size]="buttonSizings.small" [style]="styles.outlined">Info</atlas-button>
            <div class="button-label">Info</div>
        </div>
    </div>
  </div>
  <div class="section">
    <h3>size extra small</h3>
    <div class="button-group">
        <div class="button-container">
            <atlas-button [color]="colors.brand" [size]="buttonSizings.xsmall" [style]="styles.outlined">brand</atlas-button>
            <div class="button-label">Brand</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.neutral" [size]="buttonSizings.xsmall" [style]="styles.outlined">neutral</atlas-button>
            <div class="button-label">Neutral</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.danger" [size]="buttonSizings.xsmall" [style]="styles.outlined">danger</atlas-button>
            <div class="button-label">Danger</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.success" [size]="buttonSizings.xsmall" [style]="styles.outlined">success</atlas-button>
            <div class="button-label">Success</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.info" [size]="buttonSizings.xsmall" [style]="styles.outlined">Info</atlas-button>
            <div class="button-label">Info</div>
        </div>
    </div>
  </div>
  <div class="section">
    <h3>size medium disabled</h3>
    <div class="button-group">
        <div class="button-container">
            <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles.outlined" [disabled]="true">brand</atlas-button>
            <div class="button-label">Brand</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.neutral" [size]="buttonSizings.medium" [style]="styles.outlined" [disabled]="true">neutral</atlas-button>
            <div class="button-label">Neutral</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.danger" [size]="buttonSizings.medium" [style]="styles.outlined" [disabled]="true">danger</atlas-button>
            <div class="button-label">Danger</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.success" [size]="buttonSizings.medium" [style]="styles.outlined" [disabled]="true">success</atlas-button>
            <div class="button-label">Success</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.info" [size]="buttonSizings.medium" [style]="styles.outlined" [disabled]="true">Info</atlas-button>
            <div class="button-label">Info</div>
        </div>
    </div>
    <div class="section">
        <h3>Radius</h3>
        <div class="button-group">
            <div class="button-container">
                <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles.outlined" [radius]="radii.none">brand</atlas-button>
                <div class="button-label">radius none</div>
            </div>
            <div class="button-container">
                <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles.outlined" [radius]="radii.soft">brand</atlas-button>
                <div class="button-label">radius rounded - old soft</div>
            </div>
            <div class="button-container">
                <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles.outlined" [radius]="radii.rounded">brand</atlas-button>
                <div class="button-label">radius full - old rounded</div>
            </div>
        </div>
      </div>
    </div>
</div>
<div>
    <h2>Not Fill Buttons - old text</h2>
    <div class="section">
      <h3>size medium</h3>
      <div class="button-group">
        <div class="button-container">
          <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles['no-fill']">brand</atlas-button>
          <div class="button-label">Brand</div>
        </div>
        <div class="button-container">
          <atlas-button [color]="colors.neutral" [size]="buttonSizings.medium" [style]="styles['no-fill']">neutral</atlas-button>
          <div class="button-label">Neutral</div>
        </div>
        <div class="button-container">
          <atlas-button [color]="colors.danger" [size]="buttonSizings.medium" [style]="styles['no-fill']">danger</atlas-button>
          <div class="button-label">Danger</div>
        </div>
        <div class="button-container">
          <atlas-button [color]="colors.success" [size]="buttonSizings.medium" [style]="styles['no-fill']">success</atlas-button>
          <div class="button-label">Success</div>
        </div>
        <div class="button-container">
          <atlas-button [color]="colors.info" [size]="buttonSizings.medium" [style]="styles['no-fill']">Info</atlas-button>
          <div class="button-label">Info</div>
        </div>
      </div>
    </div>
  
    <div class="section">
      <h3>size large</h3>
      <div class="button-group">
          <div class="button-container">
              <atlas-button [color]="colors.brand" [size]="buttonSizings.large" [style]="styles['no-fill']">brand</atlas-button>
              <div class="button-label">Brand</div>
          </div>
          <div class="button-container">
              <atlas-button [color]="colors.neutral" [size]="buttonSizings.large" [style]="styles['no-fill']">neutral</atlas-button>
              <div class="button-label">Neutral</div>
          </div>
          <div class="button-container">
              <atlas-button [color]="colors.danger" [size]="buttonSizings.large" [style]="styles['no-fill']">danger</atlas-button>
              <div class="button-label">Danger</div>
          </div>
          <div class="button-container">
              <atlas-button [color]="colors.success" [size]="buttonSizings.large" [style]="styles['no-fill']">success</atlas-button>
              <div class="button-label">Success</div>
          </div>
          <div class="button-container">
              <atlas-button [color]="colors.info" [size]="buttonSizings.large" [style]="styles['no-fill']">Info</atlas-button>
              <div class="button-label">Info</div>
          </div>
      </div>
  </div>
  <div class="section">
    <h3>size extra large</h3>
    <div class="button-group">
        <div class="button-container">
            <atlas-button [color]="colors.brand" [size]="buttonSizings.xlarge" [style]="styles['no-fill']">brand</atlas-button>
            <div class="button-label">Brand</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.neutral" [size]="buttonSizings.xlarge" [style]="styles['no-fill']">neutral</atlas-button>
            <div class="button-label">Neutral</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.danger" [size]="buttonSizings.xlarge" [style]="styles['no-fill']">danger</atlas-button>
            <div class="button-label">Danger</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.success" [size]="buttonSizings.xlarge" [style]="styles['no-fill']">success</atlas-button>
            <div class="button-label">Success</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.info" [size]="buttonSizings.xlarge" [style]="styles['no-fill']">Info</atlas-button>
            <div class="button-label">Info</div>
        </div>
    </div>
  </div>
  
  <div class="section">
    <h3>size small</h3>
    <div class="button-group">
        <div class="button-container">
            <atlas-button [color]="colors.brand" [size]="buttonSizings.small" [style]="styles['no-fill']">brand</atlas-button>
            <div class="button-label">Brand</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.neutral" [size]="buttonSizings.small" [style]="styles['no-fill']">neutral</atlas-button>
            <div class="button-label">Neutral</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.danger" [size]="buttonSizings.small" [style]="styles['no-fill']">danger</atlas-button>
            <div class="button-label">Danger</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.success" [size]="buttonSizings.small" [style]="styles['no-fill']">success</atlas-button>
            <div class="button-label">Success</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.info" [size]="buttonSizings.small" [style]="styles['no-fill']">Info</atlas-button>
            <div class="button-label">Info</div>
        </div>
    </div>
  </div>
  <div class="section">
    <h3>size extra small</h3>
    <div class="button-group">
        <div class="button-container">
            <atlas-button [color]="colors.brand" [size]="buttonSizings.xsmall" [style]="styles['no-fill']">brand</atlas-button>
            <div class="button-label">Brand</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.neutral" [size]="buttonSizings.xsmall" [style]="styles['no-fill']">neutral</atlas-button>
            <div class="button-label">Neutral</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.danger" [size]="buttonSizings.xsmall" [style]="styles['no-fill']">danger</atlas-button>
            <div class="button-label">Danger</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.success" [size]="buttonSizings.xsmall" [style]="styles['no-fill']">success</atlas-button>
            <div class="button-label">Success</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.info" [size]="buttonSizings.xsmall" [style]="styles['no-fill']">Info</atlas-button>
            <div class="button-label">Info</div>
        </div>
    </div>
  </div>
  <div class="section">
    <h3>size medium disabled</h3>
    <div class="button-group">
        <div class="button-container">
            <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles['no-fill']" [disabled]="true">brand</atlas-button>
            <div class="button-label">Brand</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.neutral" [size]="buttonSizings.medium" [style]="styles['no-fill']" [disabled]="true">neutral</atlas-button>
            <div class="button-label">Neutral</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.danger" [size]="buttonSizings.medium" [style]="styles['no-fill']" [disabled]="true">danger</atlas-button>
            <div class="button-label">Danger</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.success" [size]="buttonSizings.medium" [style]="styles['no-fill']" [disabled]="true">success</atlas-button>
            <div class="button-label">Success</div>
        </div>
        <div class="button-container">
            <atlas-button [color]="colors.info" [size]="buttonSizings.medium" [style]="styles['no-fill']" [disabled]="true">Info</atlas-button>
            <div class="button-label">Info</div>
        </div>
    </div>
    <div class="section">
        <h3>Radius</h3>
        <div class="button-group">
            <div class="button-container">
                <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles['no-fill']" [radius]="radii.none">brand</atlas-button>
                <div class="button-label">radius none</div>
            </div>
            <div class="button-container">
                <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles['no-fill']" [radius]="radii.soft">brand</atlas-button>
                <div class="button-label">radius rounded - old soft</div>
            </div>
            <div class="button-container">
                <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles['no-fill']" [radius]="radii.rounded">brand</atlas-button>
                <div class="button-label">radius full - old rounded</div>
            </div>
        </div>
      </div>
    </div>
    </div>


<atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles.outlined">brand</atlas-button>
<atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles.strong">brand</atlas-button>


<!-- Buttons with Click Events Section -->
<div class="section">
  <h3>Buttons with Click Events</h3>
  <div class="button-group">
    <div class="button-container">
      <atlas-button [color]="colors.brand" [size]="buttonSizings.medium" [style]="styles.outlined" (onClick)="handleClick($event)">Click Me Small</atlas-button>
    </div>
  </div>
</div>
</div>

<div class="section">
    <h3>Buttons with expand true</h3>
    <div class="button-group">
      <div style="width: 200px;">
        <atlas-button [expand]="true">expand</atlas-button>
      </div>
    </div>
</div>

<div class="section">
    <h3>Buttons with expand False</h3>
    <div class="button-group">
      <div style="width: 200px;">
        <atlas-button [expand]="false">expand</atlas-button>
      </div>
    </div>
</div>
<!-- Performance test: many buttons -->
<div style="margin: 2rem 0">
  <h2>Performance Test: Many Buttons</h2>
  <atlas-button>test</atlas-button>
  <div *ngFor="let i of [].constructor(100)">
    <atlas-button>1</atlas-button>
    <atlas-button>2</atlas-button>
  </div>
</div>